<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Student</title>
    <link rel="stylesheet" href="/static/add_element.css">
</head>
<body>
    <h1>Add Student</h1>
    <div class="main">
        <form class="grid" action="/add_student" method="post">
            <div class="inp">
                <div class="roll">
                    <label class="btn"  for="Roll number">Roll Number:</label>
                    <input class="btn-inp" type="number" name="Roll number" id="Roll Number">
                </div>
                <div class="name"> 
                    <label class="btn" for="">Name:</label>
                    <input class="btn-inp" type="text" name="name" id="name">
                </div>
                <div class="bt">
                    <input type="submit" class=take_image value="Take Image">
                </div>
            </div>
        </form>
    </div>

</body>
</html>